
      	p{
      		color: red;
      	}
            h1{
                  color: red;

            }
      	#paral{
      		color: green;
      	}
      	.colortext{
      		color: green;
      	}
      	table{
      		text-align: center;
      	}
